{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "overrides": [{ "files": ["*.json"], "options": { "tabWidth": 2 } }],
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "lf"
}
